<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <link href="https://fonts.googleapis.com/css?family=Clicker+Script|Euphoria+Script|Kaushan+Script" rel="stylesheet">

  <style>  
    html body {
        left: 0;
      right: 0;
      bottom: 0;
        top: 0;
      margin: 0;
      }
      </style>
</head>
<body>
    <!-- UNIQUE TO PAGE -->
<div class='introduction'>
<p>This group started over a conversation post-potluck in a car driving around Grandview. We wanted to have some sort of time spent with friends in which we could encourage each other to write, draw, or whatever their passions may be. </p>
</div>
</body>
</html>