<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Euphoria+Script|Kaushan+Script" rel="stylesheet">

	<style>  
	  html body {
        left: 0;
    	right: 0;
    	bottom: 0;
   	    top: 0;
    	margin: 0;
  	  }
  	  </style>
</head>
<body>
    <!--IF YOU MAKE UPDATES HERE, UPDATE ALL PAGES -->

  <a href='index.html'><div class="banner-image-properties fit center">

  <h1 class="vcenter">la fille de la lune</h1>

  </div>
</a>
  <div class='menu'>
    <a href='about.html'>About</a>
    <a href='fullmoons.html'>Full moons</a>
    <a href='previousSessions.html'>Last time</a>
    <a href='contact.html'>Contact</a>

    </div>
    <!-- UNIQUE TO PAGE -->
    <div class='introduction'>
    <p>If you would like to more information about our group, please email<a href="mailto:mlafilledelalune@gmail.com">lafilledelalune@gmail.com</a>. </p>
    <br>
    <p>Our group meets every full moon at 8pm. A list of the full moon schedule can be found on the<a href='fullmoons.html'>Full moons</a>page. The location is ever changing, so please sign up for our newsletter to be included in the next event! </p>
</div>
</body>
</html>
