<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link href="https://fonts.googleapis.com/css?family=Clicker+Script|Euphoria+Script|Kaushan+Script" rel="stylesheet">

	<style>  
	  html body {
        left: 0;
    	right: 0;
    	bottom: 0;
   	    top: 0;
    	margin: 0;
  	  }
  	  </style>
</head>
<body>
    <!--IF YOU MAKE UPDATES HERE, UPDATE ALL PAGES -->

   <a href='index.html'><div class="banner-image-properties fit center">

  <h1 class="vcenter">la fille de la lune</h1>

  </div>
</a>
  <div class='menu'>
    <a href='about.html'>About</a>
    <a href='fullmoons.html'>Full moons</a>
    <a href='previousSessions.html'>Last time</a>
    <a href='contact.html'>Contact</a>

    </div>
    <!-- UNIQUE TO PAGE -->
<div class='introduction'>
  <p>Below is a schedule for 2017 full moons. Each full moon is unique, as all of us are unique.</p>
<p>For each full moon, we will get together to work on our writing, artwork, crafts and eat and drink - please feel free to come and read or relax. The environment is meant to be open-minded and welcoming to everyone who is interested in pursuing their dreams.</p>
<ul style='list-style: none;'>
  <li>January 12, Full Wolf Moon</li>
  <li>February 10, Full Snow Moon</li>
  <li>March 12, Full Worm Moon</li>
  <li>May 10, Full Flower Moon</li>
  <li>June 9, Full Strawberry Moon</li>
  <li>July 9, Full Black Moon</li>
  <li>August 7, Full Sturgeon Moon</li>
  <li>September 6, Full Corn Moon</li>
  <li>October 5, Full Harvest Moon</li>
  <li>November 4, Full Beaver Moon</li>
  <li>December 3, Full Cold Moon</li>



</ul>
</div>
</body>
</html>
